<div class="flex-container">
  <mat-card>
    <form action="" id="main-form" [formGroup]="funcionario">
      <mat-form-field appearance="outline">
        <mat-label>Nome do Funcionário</mat-label>
        <input type="text" matInput formControlName="nome">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>E-mail do Funcionário</mat-label>
        <input type="email" matInput formControlName="email">
      </mat-form-field>
      <button mat-raised-button color="primary" type="button" class="btn" (click)="selectImage()">Adicionar Foto</button>
      <input type="file" id="file-input" #fileInput formControlName="foto">
      <button mat-raised-button color="accent" type="submit" style="margin-top: 10px;">Cadastrar</button>
    </form>
  </mat-card>
</div>